<% provide(:title, @donburi.name) %>

<% if @donburi.nil? %>
  
  not found

<% else %>
  <header>
    <%= link_to image_tag('logo.png', class: 'logo'), root_path %>
    <h1 class="title"><%= @donburi.name %></h1>
  </header>


  <div class="wrapper">
    <img src=<%= @donburi.snapshot_url %> class="main-image" alt="">
    <div class="content">
      <div class="material">
        <p>材料：<%= @donburi.zairyo %></p>
        <p>調味料：<%= @donburi.chomiryo %></p>
      </div>
      <%= link_to image_tag('don_button.png', class: 'btn'), @donburi.cookpad_url %>
      <p class="date">
	<a class="arrow" href="<%= yesterday_or_sharp(@donburi.upload_date)%>">
	  <%= image_tag 'yesterday.png' %>
	</a>
	<%= @donburi.upload_date.to_s %>
	<a class="arrow" href="<%= tomorrow_or_sharp(@donburi.upload_date) %>">
	  <%= image_tag 'tomorrow.png' %>
	</a>
      </p>
    </div>
  </div>
<% end %>
