<%= image_tag 'logo.png' %>
<%= image_tag Donburi.second.snapshot_url %>

<p><%= Donburi.second.name %></p>
<p>材料：<%= Donburi.second.zairyo %></p>
<p>調味料：<%= Donburi.second.chomiryo %></p>

<%= link_to image_tag('go_cookpad.png'), Donburi.second.cookpad_url %>
